[submodule "components/Adafruit_BusIO"]
	path = components/Adafruit_BusIO
	url = git@github.com:adafruit/Adafruit_BusIO.git
[submodule "components/Adafruit_Sensor"]
	path = components/Adafruit_Sensor
	url = git@github.com:adafruit/Adafruit_Sensor.git
